<div class="user-data">
    <div class="profile-img-container">
        <img src="/images/users/avatar/<%= user.avatar %>" alt="profile image">
    </div>
    <div class="user-info-container">
        <%if(user.rol == "admin"){%>
            <p>Esto se muestra solo a los admin</p>
        <%}%>
        <label for="">Usuario</label>
        <p class="data"><%= user.username %></p>
        <label for="">Nombre</label>
        <p class="data"><%= user.name %></p>
        <label for="">Apellido</label>
        <p class="data"><%= user.surname %></p>
        <label for="">E-mail</label>
        <p class="data"><%= user.email %></p>
        <label for="">Fecha de Nacimiento</label>
        <p class="data"><%= user.birthDate %></p>
    </div>
    
    <div class="botones">
        <form id="edit-form">
        </form>
        <button id="edit-button-form" type="button" class="edit-button">Editar</button>
        <button type="button" class="edit-button"><a href="/login">Cerrar sesión</a></button>
        <button form="edit-form" class="delete-button" formmethod="post" formaction="/users/<%= user.id %>/delete?_method=DELETE" >Eliminar Cuenta</button>
    </div>          