<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
	<link href="/css/home.css" rel="stylesheet"/>
    <title>Streang - Venta de videojuegos y consolas</title>
</head>

<body>
	<!-- HEADER -->

    <%-include('partials/header.ejs')%>
	
	<!-- MAIN -->
    <main>
        
        <div class="img-carousel">
            <i class="fa-solid fa-caret-left"></i>
            <img src="images/doom-eternal.jpg" alt="game image">
            <i class="fa-solid fa-caret-right"></i>
        </div>
        <section class="products">
            <%for(i=0;i<products.length;i++){%>
            <article class="product-container">
                <div class="main-img-container">
                    <h2 class="product-title"><%= products[i].name %></h2>                    
                    <a class="linkToProduct" href="/products/<%= products[i].id %>"><img class="mainImage" src="/images/products/<%= products[i].mainImage.filename %>"></a>
                </div>
                <div class="more-img-container">
                    <img class="clickable" data-product-index="<%= i %>" src="/images/products/<%= products[i].moreImages[0].filename %>" alt="game image">
                    <img class="clickable" data-product-index="<%= i %>" src="/images/products/<%= products[i].moreImages[1].filename %>" alt="game image">
                    <img class="clickable" data-product-index="<%= i %>" src="/images/products/<%= products[i].moreImages[2].filename %>" alt="game image">
                </div>
                <div class="product-description">
                    <p><%= products[i].description %> </p>
                </div>
                <div class="price-container">
                    <h4 class="price">$<%= products[i].price %></h4>
                    <h4 class="discount">%<%= products[i].discount %></h4>
                    <h4 class="final-price">$<%= products[i].finalPrice %></h4>
                </div>
                <h3 class="add-cart">Agregar al carrito</h3>
            </article>
            <%}%>

            
        </section>
    </main>
	
	
    <!-- FOOTER -->
    <%-include('partials/footer.ejs')%>

    <script>
     
        
        document.addEventListener('DOMContentLoaded', function () {
            const clickableImages = document.querySelectorAll('.clickable');

            clickableImages.forEach(function (clickableImage) {
                clickableImage.addEventListener('click', function () {
                    const productIndex = this.getAttribute('data-product-index');
                    const mainImage = document.querySelector('.product-container:nth-child(' + (parseInt(productIndex) + 1) + ') .mainImage');
                    const tempSrc = mainImage.src;
                    mainImage.src = this.src;
                    this.src = tempSrc;
                });
            });
        });

    </script>
	
</body>
</html>