<!DOCTYPE html>
<html lang="en">
<head>
<%-include('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/newProduct.css">

</head>

    <body>
        <%-include('partials/header.ejs')%>
        <main>

            <div class="main-boxes-container">
                <div class="form-box">
                    <h2>Editar producto</h2>
                    <form id="edit-form" class="form-container" action="/products/<%= product.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                        
                        <label id="mainImageLabel" class="product-img-label" for="mainImageInput">Imagen principal<i class="fa-regular fa-images img-form"></i>
                            <input id="mainImageInput" class="product-img" type="file" name="mainImage" placeholder="">
                            <p id="mainImageName"></p>
                        </label>

                        <label id="moreImagesLabel" class="product-img-label" for="moreImageInput">Más imágenes<i class="fa-regular fa-images img-form"></i>
                            <input id="moreImageInput" class="product-img" type="file" name="moreImages" placeholder="" multiple>
                            <p id="moreImagesNames"></p>
                        </label>

                        <label id="bannerImageLabel" class="product-img-label" for="bannerImageInput">Imagen del banner<i class="fa-regular fa-images img-form"></i>
                            <input id="bannerImageInput" class="product-img" type="file" name="bannerImage" placeholder="">
                            <p id="bannerImageName"></p>
                        </label>

                        <label class="video-label" for="">
                            <input id="videoInput" type="text" name="video" value="https://www.youtube.com/watch?v=<%= product.video %>" placeholder="Video de Youtube">
                            <div class="video-instructions-container">
                                <p class="video-instructions">Pega la dirección URL del vídeo aquí.
                                </p>
                            </div>                            
                        </label>

                        <label for="">
                            <input type="text" name="name" placeholder="Nombre del producto" value="<%= product.name %>*" required>
                        </label>

                        <textarea class="description-area" name="description" cols="30" rows="10" autocapitalize="on"
                        placeholder="Descripcion" value="" required><%= product.description %></textarea>

                        <select class="category" name="category">
                            <option value="" selected hidden>Categoria</option>
                            <option value="videogames">Videojuegos</option>
                            <option value="consoles">Consolas</option>
                            <option value="accesories">Accesorios</option>
                            <option value="audio">Audio y sonido</option>
                            <option value="PC">Computacion</option>
                            <option value="other">Otros</option>
                        </select>

                        <div class="checkbox-container">

                        
                            <p class="checkbox">Plataforma</p>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="pc">PC
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="ps3">Playstation 3
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="ps4">Playstation 4
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="ps5">Playstation 5
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="xboxOne">Xbox One
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="xbox360">Xbox 360
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="nintendoSwitch">Nintendo Switch
                            </label>
                        </div>

                        <label for="">
                            <input type="text" name="price" placeholder="Precio" value="<%= product.price %>*" required>
                        </label>

                        <label for="">
                            <input type="text" name="discount" value="<%= product.discount %>" placeholder="Descuento">
                        </label>

                        <select class="format" name="format">
                            <option hidden>Formato</option>
                            <option value="physical">Fisico</option>
                            <option value="digital">Digital</option>
                        </select>

                        <label for="">
                            <input type="number" name="stock" placeholder="Stock" value="<%= product.stock %>">
                        </label>

                        <button type="submit"  class="submit-button">Guardar Cambios</button>                        
                        <button type="button" class="submit-button delete-button" id="delete-button">Eliminar Producto</button>
                        
                    </form>
                </div>
                <div class="preview-box">
                    <article class="product-container">
                        <div class="product-imgs">
                            <div class="main-img-container">
                                <h2 id="preview-name" class="product-title"><%= product.name %></h2>
                                <i class="fa-regular fa-images main-img-mobile"></i>
                                <!-- <div id="mainImagePreview"></div> -->
                                <img id="mainImagePreview" src="/images/products/<%= product.mainImage.filename %>">
                                <div id="videoPreview" class="video-preview"></div>
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                            <div class="more-img-container" id="moreImagesContainer">
                                <!-- <i class="fa-regular fa-images"></i> -->
                                <img src="/images/products/<%= product.moreImages[0].filename %>">
                                <img src="/images/products/<%= product.moreImages[1].filename %>">
                                <img src="/images/products/<%= product.moreImages[2].filename %>">
                                <!-- <i class="fa-regular fa-images"></i>    -->
                                <!-- <i class="fa-regular fa-images"></i> -->
                            </div>
                        </div>
                        
                        <div class="product-description">
                            <!-- <i id="bannerImage" class="fa-regular fa-images product-banner"></i> -->
                            <img id="bannerImagePreview" src="/images/products/<%= product.bannerImage.filename %>">
                            <div id="banner-preview"></div>
                            <p id="preview-description"><%= product.description %> </p>
                        </div>
                        <div class="price-container">
                            <h4 id="preview-price" class="price">$<%= product.price %></h4>
                            <h4 id="preview-discount" class="discount">%<%= product.discount %></h4>
                            <h4 class="final-price"><%= product.finalPrice %></h4>
                        </div>
                        <h3 class="add-cart">Agregar al carrito</h3>
                    </article>
                </div>
            </div>
            
        </main>
        <div class="confirm-container" id="confirm-container">
            <div class="confirm-delete">
                <p>¿Estás seguro de querer eliminar este producto?</p>
                <div class="confirm-buttons">
                    <button form="edit-form" class="submit-button delete-button" formmethod="post" formaction="/products/<%= product.id %>/?_method=DELETE">Eliminar Producto</button>
                    <button id="cancel-button" class="submit-button">Cancelar</button>
                </div>                
            </div>
        </div>

        <%-include('partials/footer.ejs')%>
        <script src="/js/newProduct.js"></script>
        <script src="/js/editProduct.js"></script>

    </body>
    
    </html>