<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../css/register.css" rel="stylesheet"/>
        <%-include('partials/head.ejs')%>
    </head>


<body>
    <!-- HEADER -->
    <%-include('partials/header.ejs')%>

    <!-- MAIN -->
    <main>
        <form action="/users/register" method="POST" class="create-form" enctype="multipart/form-data">
            <div class="campo-general">
                <%if(locals.errors){
                    errors.forEach(error => { %>
                    <p><%=error.msg%></p>
                <%})%>
                <%}%>
                <label><h2 class="titulo">Cre치 tu usuario en Streang</h2></label>
                <div class="control-formulario"><input type="email" placeholder="Ingrese su correo electr칩nico" name="email" value="<%= locals.old && old.email ? old.email : '' %>"></div>
                <div class="control-formulario"><input type="text" placeholder="Ingrese su Username" name="username" value="<%= locals.old && old.username ? old.username : '' %>"></div>
                <div class="control-formulario"><input type="password" placeholder="Ingrese su contrase침a" name="password"></div>
                <div class="control-formulario"><input type="password" placeholder="Reingrese su contrase침a" name="repPassword"></div>
                <div class="control-formulario"><input type="text" placeholder="Nombre" name="realName" value="<%= locals.old && old.realName ? old.realName : '' %>"></div>
                <div class="control-formulario"><input type="text" placeholder="Apellido" name="surname" value="<%= locals.old && old.surname ? old.surname : '' %>"></div>
                <label><h2 class="titulo">Selecciona tu dia de nacimiento</h2></label>
                <div class="control-formulario"><input type="date" placeholder="" name="birthDate" value="<%= locals.old && old.birthDate ? old.birthDate : '' %>"></div>
                <label><h2 class="titulo">Sube tu imagen de avatar</h2></label>
                <div class="control-formulario"><input type="file" placeholder="UserAvatar" name="UserAvatar"></div>
            </div>
            <div class="send-remember-buttons">
                <label class="remind-button" for=""><input type="checkbox">Recordarme</label>
                <button class="continue-button" type="submit">Continuar</button>
            </div>
        </form>
    </main> 
    
        <!-- FOOTER -->
        <%-include('partials/footer.ejs')%>
</body>
</html>