<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/userProfile.css">
    <title>Perfil</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>

    <main>
        
        <%-include('./partials/profileUserCard')%>

        </div>
        <div class="more-info">
            <div class="last-purchases">
                <h3>Ultimas Compras</h3>
                <div class="purchase">
                    <p class="title">Hollow Knight</p>
                    <p class="date">11/07/2022</p>
                    <p class="price">Total $1234</p>                    
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                
                <div class="purchase">
                    <p class="title">Hollow Knight</p>
                    <p class="date">11/07/2022</p>
                    <p class="price">Total $1234</p>                    
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                
                <div class="purchase">
                    <p class="title">Hollow Knight</p>
                    <p class="date">11/07/2022</p>
                    <p class="price">Total $1234</p>                    
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                <a class="view-all" href="/#">Ver todas las compras</a>
            </div>
            <div class="cart-info">
                <h3>Carrito</h3>
                <div class="cart-item">
                    <img src="/images/hollow-knight.webp" alt="product image">
                    <p class="title">Hollow Knight</p>
                    <p class="price">$1234</p>
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                <div class="cart-item">
                    <img src="/images/hollow-knight.webp" alt="product image">
                    <p class="title">Hollow Knight</p>
                    <p class="price">$1234</p>
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                <div class="total">
                    <a class="buy" href="/#">Comprar</a>
                    <h3>Total $2486</h3>
                </div>

            </div>
        </div>
        <%-include('./partials/userEditForm')%>
    </main>
    
    <%-include('./partials/footer.ejs')%>
    <!-- <script src="/js/editUser.js"></script> -->
</body>
</html>