<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/userProfile.css">
    <title>Perfil</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>

    <main>
        <div class="user-data">
            <div class="profile-img-container">
                <img src="/images/users/avatar/<%= user.avatar.filename %>" alt="profile image">
            </div>
            <div class="user-info-container">
                <%if(user.rol == "admin"){%>
                    <p>Esto se muestra solo a los admin</p>
                <%}%>
                <label for="">Usuario</label>
                <p class="data"><%= user.username %></p>
                <label for="">Nombre</label>
                <p class="data"><%= user.name %></p>
                <label for="">Apellido</label>
                <p class="data"><%= user.surname %></p>
                <label for="">E-mail</label>
                <p class="data"><%= user.email %></p>
                <label for="">Fecha de Nacimiento</label>
                <p class="data"><%= user.birthDate %></p>
            </div>
            <div class="botones">
                <form id="edit-form">
                </form>
                <button type="button" class="edit-button">Editar</button>
                <button form="edit-form" class="delete-button" formmethod="post" formaction="/users/<%= user.id %>/delete?_method=DELETE" >Eliminar Cuenta</button>
            </div>   

        </div>
        <div class="more-info">
            <div class="last-purchases">
                <h3>Ultimas Compras</h3>
                <div class="purchase">
                    <p class="title">Hollow Knight</p>
                    <p class="date">11/07/2022</p>
                    <p class="price">Total $1234</p>                    
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                
                <div class="purchase">
                    <p class="title">Hollow Knight</p>
                    <p class="date">11/07/2022</p>
                    <p class="price">Total $1234</p>                    
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                
                <div class="purchase">
                    <p class="title">Hollow Knight</p>
                    <p class="date">11/07/2022</p>
                    <p class="price">Total $1234</p>                    
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                <a class="view-all" href="/#">Ver todas las compras</a>
            </div>
            <div class="cart-info">
                <h3>Carrito</h3>
                <div class="cart-item">
                    <img src="/images/hollow-knight.webp" alt="product image">
                    <p class="title">Hollow Knight</p>
                    <p class="price">$1234</p>
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                <div class="cart-item">
                    <img src="/images/hollow-knight.webp" alt="product image">
                    <p class="title">Hollow Knight</p>
                    <p class="price">$1234</p>
                    <button type="button" class="purchase-button">Ver</button>
                </div>
                <div class="total">
                    <a class="buy" href="/#">Comprar</a>
                    <h3>Total $2486</h3>
                </div>

            </div>
        </div>
    </main>
    


    <%-include('./partials/footer.ejs')%>
</body>
</html>