<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
	<link href="/css/home.css" rel="stylesheet"/>
    <title>Streang - Venta de videojuegos y consolas</title>
</head>

<body>
	<!-- HEADER -->

    <%-include('partials/header.ejs')%>
	
	<!-- MAIN -->
    <main>
        
        <%-include('partials/slider.ejs')%>
        <section class="products">
            <%for(i=0;i<products.length;i++){%>
            <article class="product-container">
                <div class="main-img-container">
                    <h2 class="product-title"><%= products[i].name %></h2>                    
                    <a class="linkToProduct" href="/products/detail/<%= products[i].id %>"><img class="mainImage" src="/images/products/<%= products[i].mainImage.filename %>"></a>
                </div>
                <div class="more-img-container">
                    <img class="clickable" data-product-index="<%= i %>" src="/images/products/<%= products[i].moreImages[0].filename %>" alt="game image">
                    <img class="clickable" data-product-index="<%= i %>" src="/images/products/<%= products[i].moreImages[1].filename %>" alt="game image">
                    <img class="clickable" data-product-index="<%= i %>" src="/images/products/<%= products[i].moreImages[2].filename %>" alt="game image">
                </div>
                <div class="product-description">
                    <p><%= products[i].description %> </p>
                </div>
                <div class="price-container">
                    <h4 class="price">$<%= products[i].price %></h4>
                    <h4 class="discount">%<%= products[i].discount %></h4>
                    <h4 class="final-price">$<%= products[i].finalPrice %></h4>
                </div>
                <h3 class="add-cart">Agregar al carrito</h3>
                <%if(user && user.rol_id == 2){ %>
                <a class="toEdit-button" href="/products/<%= products[i].id %>/edit">Editar producto</a>
                <%}%>
            </article>
            <%}%>
        </section>
    </main>
	
	
    <!-- FOOTER -->
    <%-include('partials/footer.ejs')%>

    <script src="./js/allProducts.js"></script>
	
</body>
</html>