<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <link rel="stylesheet" href="/css/home.css">
    <title>Promociones</title>
</head>
<body>
    <%-include('partials/header.ejs')%>

    <main>    
        <section class="products">
            <%for(i=0;i<products.length;i++){%>
            <article class="product-container">
                <div class="main-img-container">
                    <h2 class="product-title"><%= products[i].name %></h2>                    
                    <a class="linkToProduct" href="/products/detail/<%= products[i].id %>"><img class="mainImage" src="/images/products/<%= products[i].main_image %>"></a>
                </div>
                <div class="more-img-container">
                    <img class="clickable" data-product-index="<%= i %>" src="/images/products/<%= products[i].more_images_1 %>" alt="game image">
                    <img class="clickable" data-product-index="<%= i %>" src="/images/products/<%= products[i].more_images_2 %>" alt="game image">
                    <img class="clickable" data-product-index="<%= i %>" src="/images/products/<%= products[i].more_images_3 %>" alt="game image">
                </div>
                <div class="product-description">
                    <p><%= products[i].description %> </p>
                </div>
                <div class="price-container">
                    <h4 class="price">$<%= products[i].price %></h4>
                    <h4 class="discount">%<%= products[i].discount %></h4>
                    <h4 class="final-price">$<%= products[i].final_price %></h4>
                </div>
                <h3 class="add-cart">Agregar al carrito</h3>
            </article>
            <%}%>
        </section>
    </main>


    <%-include('partials/footer.ejs')%>
</body>
</html>