<!DOCTYPE html>
<html lang="en">
<head>
<%-include('./partials/head.ejs')%>
<link rel="stylesheet" href="../css/newProduct.css">
<title>Nuevo producto</title>

</head>

    <body>
        <%-include('partials/header.ejs')%>
        <main>

            <div class="main-boxes-container">
                <div class="form-box">
                    <h2>Nuevo producto</h2>
                    <form class="form-container" action="/products" method="POST" enctype="multipart/form-data">
                        
                        <label id="mainImageLabel" class="product-img-label" for="mainImageInput">Imagen principal<i class="fa-regular fa-images img-form"></i>
                            <input id="mainImageInput" class="product-img" type="file" name="mainImage" accept=".jpg, .jpeg, .png" placeholder="">
                            <p id="mainImageName"></p>
                        </label>
                        
                        <% if (locals.errors && errors.name{ %>
                            <div class="warning-text">
                                <%= errors.name.msg %>
                                </div>
                       <% }) %>

                        

                        <label id="moreImagesLabel" class="product-img-label" for="moreImageInput">Más imágenes<i class="fa-regular fa-images img-form"></i>
                            <input id="moreImageInput" class="product-img" type="file" name="moreImages" accept=".jpg, .jpeg, .png, .gif" placeholder="" multiple>
                            <p id="moreImagesNames"></p>
                        </label>

                        <% if (locals.errors && errors.moreImages{ %>
                            <div class="warning-text">
                                <%= errors.moreImages.msg %>
                                </div>
                       <% }) %>

                        <label id="bannerImageLabel" class="product-img-label" for="bannerImageInput">Imagen del banner<i class="fa-regular fa-images img-form"></i>
                            <input id="bannerImageInput" class="product-img" type="file" name="bannerImage" accept=".jpg, .jpeg, .png" placeholder="">
                            <p id="bannerImageName"></p>
                        </label>

                        <% if (locals.errors && errors.bannerImage{ %>
                            <div class="warning-text">
                                <%= errors.bannerImage.msg %>
                                </div>
                       <% }) %>

                        <label class="video-label" for="">
                            <input id="videoInput" type="text" name="video" placeholder="Video de Youtube">
                            <div class="video-instructions-container">
                                <p class="video-instructions">Pega la dirección URL del vídeo aquí.
                                </p>
                            </div>                            
                        </label>

                        <% if (locals.errors && errors.video{ %>
                            <div class="warning-text">
                                <%= errors.video.msg %>
                                </div>
                       <% }) %>

                        <label for="">
                            <input type="text" name="name" placeholder="Nombre del producto*" required>
                        </label>

                        <% if (locals.errors && errors.name{ %>
                            <div class="warning-text">
                                <%= errors.name.msg %>
                                </div>
                       <% }) %>

                        <textarea class="description-area" name="description" cols="30" rows="10" autocapitalize="on"
                        placeholder="Descripcion*" required></textarea>

                        <% if (locals.errors && errors.description{ %>
                            <div class="warning-text">
                                <%= errors.description.msg %>
                                </div>
                       <% }) %>

                        <select class="category" name="category">
                            <option value="" selected hidden>Categoria</option>
                            <option value="videogames">Videojuegos</option>
                            <option value="consoles">Consolas</option>
                            <option value="accesories">Accesorios</option>
                            <option value="audio">Audio y sonido</option>
                            <option value="PC">Computacion</option>
                            <option value="other">Otros</option>
                        </select>

                        <% if (locals.errors && errors.category{ %>
                            <div class="warning-text">
                                <%= errors.category.msg %>
                                </div>
                       <% }) %>

                        <div class="checkbox-container">

                        
                            <p class="checkbox">Plataforma</p>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="pc">PC
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="ps3">Playstation 3
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="ps4">Playstation 4
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="ps5">Playstation 5
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="xboxOne">Xbox One
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="xbox360">Xbox 360
                            </label>
                            <label class="checkbox" for="">
                                <input class="checkbox" type="checkbox" name="platform" value="nintendoSwitch">Nintendo Switch
                            </label>
                        </div>

                        <label for="">
                            <input type="text" name="price" placeholder="Precio*" required>
                        </label>

                        <% if (locals.errors && errors.price{ %>
                            <div class="warning-text">
                                <%= errors.price.msg %>
                                </div>
                       <% }) %>

                        <label for="">
                            <input type="text" name="discount" placeholder="Descuento">
                        </label>

                        <select class="format" name="format">
                            <option hidden>Formato</option>
                            <option value="physical">Fisico</option>
                            <option value="digital">Digital</option>
                        </select>

                        <% if (locals.errors && errors.format{ %>
                            <div class="warning-text">
                                <%= errors.format.msg %>
                                </div>
                       <% }) %>

                        <label for="">
                            <input type="number" name="stock" placeholder="Stock">
                        </label>

                        <% if (locals.errors && errors.stock{ %>
                            <div class="warning-text">
                                <%= errors.stock.msg %>
                                </div>
                       <% }) %>

                        <button class="submit-button" type="submit">Crear</button>

                    </form>
                </div>
                <div class="preview-box">
                    <article class="product-container">
                        <div class="product-imgs">
                            <div class="main-img-container">
                                <h2 id="preview-name" class="product-title">Título del producto</h2>
                                <i class="fa-regular fa-images main-img-mobile"></i>
                                <div id="mainImagePreview"></div>
                                <!-- <img class="main-img" src="/images/cuphead.png" style="display: none"> -->
                                <div id="videoPreview" class="video-preview"></div>                                
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                            <div class="more-img-container" id="moreImagesContainer">
                                <i class="fa-regular fa-images"></i>
                                <i class="fa-regular fa-images"></i>
                                <i class="fa-regular fa-images"></i>
                            </div>
                        </div>
                        
                        <div class="product-description">
                            <i id="bannerImage" class="fa-regular fa-images product-banner"></i>
                            <div id="banner-preview"></div>
                            <p id="preview-description">La descripcion de tu producto
                                se mostrará aquí. </p>
                        </div>
                        <div class="price-container">
                            <h4 id="preview-price" class="price">$12000</h4>
                            <h4 id="preview-discount" class="discount">%20 dto</h4>
                            <h4 class="final-price">$9600</h4>
                        </div>
                        <h3 class="add-cart">Agregar al carrito</h3>
                    </article>
                </div>
            </div>
            
        </main>

        <%-include('partials/footer.ejs')%>
        <script src="../js/newProduct.js"></script>
    </body>
    
    </html>