<div class="user-data">
    <div class="profile-img-container">
        <img src="/images/users/avatar/<%= user.avatar %>" alt="profile image">
    </div>
    <div class="user-info-container">
        <%if(user.rol == "admin"){%>
            <p>Esto se muestra solo a los admin</p>
        <%}%>
        <label for="">Usuario</label>
        <p class="data"><%= user.user_name %></p>
        <label for="">Nombre</label>
        <p class="data"><%= user.name %></p>
        <label for="">Apellido</label>
        <p class="data"><%= user.last_name %></p>
        <label for="">E-mail</label>
        <p class="data"><%= user.email %></p>
        <label for="">Fecha de Nacimiento</label>
        <p class="data"><%= user.birthdate %></p>
    </div>
    
    <div class="botones">
        <!-- <form id="edit-form">
        </form> -->
        <button id="edit-button-form" type="button" class="edit-button">Editar</button>
        <button type="button" class="edit-button"><a href="/users/exit">Cerrar sesión</a></button>
        <button id="delete-button" class="delete-button" >Eliminar Cuenta</button>
        
    </div>
    <div class="confirm-container" id="confirm-container">
        <div class="confirm-delete">
            <p>¿Estás seguro de querer eliminar su usuario?</p>
            <p>Los datos no podrán ser recuperados.</p>
            <div class="confirm-buttons">
                <form id="edit-form">
                </form>
                <button form="edit-form" class="delete-button" formmethod="post" formaction="/users/<%= user.id %>/delete?_method=DELETE" id="delete-button" data-user-id="<%= user.id %>" type="submit">Eliminar usuario</button>
                <button id="cancel-button" class="submit-button">Cancelar</button>
            </div>                
        </div>
    </div>